@inherits LayoutComponentBase

@using Blazored.LocalStorage
@inject HttpClient Http;
@*@inject IAlertService AlertService*@
@inject NavigationManager NavigationManager
@inject ILocalStorageService _localStorage
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <MudTabs class="top-row px-4"  Elevation="4" Rounded="true"  Color="@Color.Secondary">
                    <MudTabPanel Text="Newbies"/>
                    <MudTabPanel Text="Juniors"/>
                    <MudTabPanel Text="Uppers"/>
                     <MudTabPanel Text="GangPoopers"/>
                    <MudTabPanel Text="StinkCoder"/>
                    <MudTabPanel Text="Puppy"/>
                    <MudTabPanel Text="OJ"/>
                    <MudTabPanel Text="Middles"/>
                    <MudTabPanel Text="Seniors"/>
                </MudTabs>
                <MudButtonGroup Justify="@_justify" Color="Color.Primary">
                    <AuthorizeView >
                        <Authorized>
                            <MudAvatar Image="Pritty.png"  Color="Color.Secondary"></MudAvatar>
                            <MudButton IconColor="Color.Dark" StartIcon="@Icons.Material.Filled.Logout" OnClick="@(async () => await Logout())" Color="Color.Warning" Variant="Variant.Outlined">Logout</MudButton>
                        </Authorized>
                        <NotAuthorized>
                            <MudButton IconColor="Color.Surface" OnClick="@(async () =>  await Login())" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Login" Variant="Variant.Outlined">Login</MudButton>
                            <MudButton IconColor="Color.Tertiary" OnClick="Register" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.AppRegistration" Variant="Variant.Outlined">Register</MudButton>
                        </NotAuthorized>
                    </AuthorizeView>
                </MudButtonGroup>
                @* <div class="top-row px-4"> *@
                @*     <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
                @*     <a href="login" target="_blank">Login</a> *@
                @*     <a href="logout" target="_blank">Logout</a> *@
                @* </div> *@

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
   @* </Authorized>
    <NotAuthorized>*@
      @*  <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>*@
@*</AuthorizeView>*@

