<MudCarousel Class="mud-width-full" Style="height:400px; margin-bottom: 50px" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" Color="@Color.Transparent">
        <div class="d-flex justify-content-center  bc-img-container" style="background-image: url('@firstImage');">

        </div>

    </MudCarouselItem>
    <MudCarouselItem>
        <div class="d-flex justify-content-center  bc-img-container" style="background-image: url('@secondImage');">

        </div>
    </MudCarouselItem>

</MudCarousel>